
# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3-journal
step-by-step.txt
#/media
#/static


# End of https://www.toptal.com/developers/gitignore/api/django

